__pycache__/
*.py[cod]
*$py.class
venv/
env/
.env
node_modules/
speaker_project.zip
ngrok.exe
voice_attendance.db
uploads/
temp_dataset/
dataset/
voice-set/
voice-set (2)/
voice-set.zip
dataset_processed/
backend.log
*.log
firebase_credentials.json
cloudflared
frontend-app/dist/
token.txt
fine_tuned_model/
